*Edited: 2022-09-13*

# CMM201 &mdash; Lab 2.3 &mdash; Solutions

In [1]:
import pandas as pd

df = pd.read_csv('dogs.csv')

**(a)**

In [2]:
df.set_index('Breed Name', inplace=True)

**(b)**

In [3]:
df['UK Registrations'].dtype

dtype('int64')

They are of type int64.

**(c)**

In [4]:
df.rename(columns={'Origin' : 'Country of Origin'}, inplace=True)

df

                               UK Registrations  Weight (kg) Country of Origin
Breed Name
Labrador Retriever                        45700        32.50    United Kingdom
English Cocker Spaniel                    20459          NaN           England
English Springer Spaniel                  15133          NaN           England
German Shepherd                           12857        34.00           Germany
Staffordshire Bull Terrier                12729        33.00           England
Cavalier King Charles Spaniel             11411        15.50    United Kingdom
Golden Retriever                           9373        70.00          Scotland
West Highland White Terrier                9300         7.95          Scotland
Boxer                                      9066        70.00           Germany
Border Terrier                             8916         6.50    United Kingdom

**(d)**

In [5]:
df.iloc[4:9]

                               UK Registrations  Weight (kg) Country of Origin
Breed Name
Staffordshire Bull Terrier                12729        33.00           England
Cavalier King Charles Spaniel             11411        15.50    United Kingdom
Golden Retriever                           9373        70.00          Scotland
West Highland White Terrier                9300         7.95          Scotland
Boxer                                      9066        70.00           Germany

In [6]:
df.loc['Staffordshire Bull Terrier':'Boxer']

                               UK Registrations  Weight (kg) Country of Origin
Breed Name
Staffordshire Bull Terrier                12729        33.00           England
Cavalier King Charles Spaniel             11411        15.50    United Kingdom
Golden Retriever                           9373        70.00          Scotland
West Highland White Terrier                9300         7.95          Scotland
Boxer                                      9066        70.00           Germany

**(e)**

In [7]:
df.loc['Golden Retriever':'Boxer']

                             UK Registrations  Weight (kg) Country of Origin
Breed Name
Golden Retriever                         9373        70.00          Scotland
West Highland White Terrier              9300         7.95          Scotland
Boxer                                    9066        70.00           Germany

In [8]:
df.iloc[6:9]

                             UK Registrations  Weight (kg) Country of Origin
Breed Name
Golden Retriever                         9373        70.00          Scotland
West Highland White Terrier              9300         7.95          Scotland
Boxer                                    9066        70.00           Germany

**(f)**

In [9]:
df[df['UK Registrations'] > 20000]

                        UK Registrations  Weight (kg) Country of Origin
Breed Name
Labrador Retriever                 45700         32.5    United Kingdom
English Cocker Spaniel             20459          NaN           England

**(g)**

In [10]:
df[df['Country of Origin'] == 'Germany']

                 UK Registrations  Weight (kg) Country of Origin
Breed Name
German Shepherd             12857         34.0           Germany
Boxer                        9066         70.0           Germany

**(h)**

In [11]:
total = df['UK Registrations'].sum()

df['% UK Registrations'] = (100 * df['UK Registrations'] / total).round(1)

df

,UK Registrations,Weight (kg),Country of Origin,% UK Registrations
Breed Name,,,,
Labrador Retriever,45700,32.50,United Kingdom,29.5
English Cocker Spaniel,20459,NaN,England,13.2
English Springer Spaniel,15133,NaN,England,9.8
German Shepherd,12857,34.00,Germany,8.3
Staffordshire Bull Terrier,12729,33.00,England,8.2
Cavalier King Charles Spaniel,11411,15.50,United Kingdom,7.4
Golden Retriever,9373,70.00,Scotland,6.0
West Highland White Terrier,9300,7.95,Scotland,6.0
Boxer,9066,70.00,Germany,5.9
Border Terrier,8916,6.50,United Kingdom,5.8